/*font family*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/*variables*/
:root {
    --main-color: #fcb900;
    --text-color: #020307;
    --bg-color: #fff;
}
body {
    background-color: var(--text-color);
    color: var(--bg-color);
}
section{
    padding: 4rem 0 1rem;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    transition: 0.5s;
    background: black; 
}

.logo img{
    margin: 0;
    height: auto;
    width: 70px;
}



.navbar {
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .home-active::after {
    width: 100%;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
.btn1{
    padding: 0.7rem 1.4rem;
    background-image: linear-gradient(to left, #00ff6a, #4b9c6a, #00ff73);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn1:hover {
    transform: scale(1.3);
}
.btn2{
    padding: 0.7rem 1.4rem;
    background-image: linear-gradient(to left, #00ff51, #BDB76B, #00ff44);
    color: black;
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn3{
    padding: 0.7rem 1.4rem;
    background-image: linear-gradient(to left, #FFFF00, #BDB76B, #FFFF00);
    color: black;
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn4{
    padding: 0.7rem 1.4rem;
    background-image: linear-gradient(to left, #FFFF00, #BDB76B, #FFFF00);
    color: black;
    font-weight: 400;
    border-radius: 0.5rem;
}

.btn5{
    padding: 0.7rem 1.4rem;
    background-image: linear-gradient(to left, #FFFF00, #BDB76B, #FFFF00);
    color: black;
    font-weight: 400;
    border-radius: 0.5rem;
}

.container img {
    margin-top: 95px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}
#features {
    padding: 1% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* Adjust this according to your layout */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}

.box {
    width: calc(20% - 20px); /* Adjust the width of each box */
    padding: 5%;
    background-color: black;
    color: white;
    /* You can also use flex-basis instead of width if you prefer */
    margin-bottom: 10px; /* Adjust margin between boxes */
    text-align: center; /* Center align content */
}
.box1{
    border-radius: 50px;
}

.box img {
    max-width: 100%; /* Make sure images don't exceed container width */
}

#section3 {
    padding: 100px;
    text-align: center;  
}
h1{
    color: #FFFF00;
    font-size: 35px;
}
h2{
    color: #FFFF00;
}
#features2 {
    padding: 1% 15%;
    text-align: center;  
    background-color: rgb(29, 28, 28);
    position: relative;
    z-index: 1;
}

.flex-container-2 {
    display: flex;
    justify-content: space-between; /* Adjust this according to your layout */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}

.box2{
    width: calc(20% - 20px); /* Adjust the width of each box */
    padding: 1%;
    background-color: white;
    color: black;
    /* You can also use flex-basis instead of width if you prefer */
    margin-bottom: 10px; /* Adjust margin between boxes */
    margin-top: 50px;
    text-align: center; /* Center align content */
}

.section4-container {
    display: flex;
    column-gap: 20px;
}
.section4-img {
    height: 510px;
    width: 750px;
}
.section4-img img {
    max-height: 100%;
    max-width: 100%;
    padding: 70px;
}
#section4{
    background: white;
}
.section4-text {
    height: 510px;
    width: 750px;
    padding: 10px;
    margin-top: 10px;
}
.section4-text h2{
    color: #020307;
}
.section4-text h4{
    color: black;
}

.section5-container{
    height: 40vh;
    width: 100%;
    text-align: center;
    background-color: #020307;
}

.section6-container{
    padding: 40px;
    height: 60vh;
    width: 100%;
    text-align: center;
    background-color: #11131b;
}

#section7 {
    background-color: #fff;
    position: relative;
    z-index: 1;
}

#section7 h1{
    color: #020307;
    text-align: center;
    padding: 20px;
}

.section7-container {
    display: flex;
    column-gap: 2px;
    justify-content: center; /* Adjust this according to your layout */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}
.section7-container img {
    height: 50px;
    width: 50px;
}

.box3 {
    border-radius: 20%;
    width: calc(25% - 25px); /* Adjust the width of each box */
    background-color: black;
    color: white;
    /* You can also use flex-basis instead of width if you prefer */
    text-align: center; /* Center align content */
}
#section8 {
    background-color: #fff;
}

.section8-container{
    height: 575px;
    width: 1500px;
    margin: auto;
    position: relative;
}
.section8-container img {
    height: 100%;
    width: 100%;
}
.section8-text {
    position: absolute;
    top: 25%;
    padding: 20px;
}

.section8-text h1{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 700px;
}
.section8-text p{
    margin-bottom: 5px;
    margin-right: 700px;
}

#section9 {
    background-color: #fff;
}

.section9-container{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board{
    max-width: 900px;
    width: 100%;
    background-color: black;
    text-align: center;
    border-radius: 8px;
    padding: 4em 0;
}

.text-light{
    color: rgb(227, 180, 93);
}

.rev-section{
    margin: auto;
    padding: 0 1rem;
    max-width: 1100px;
    text-align: center;
}
  
.title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(50, 50, 50);
    margin-bottom: .5rem;
}
.note{
    font-size: 1.1rem;
    color: rgb(150, 150, 150);
    font-style: italic;
    color: red; 
}
  
.reviews{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}
.review{
    margin: 0 1rem;
    min-width: 300px;
    flex: 1;
}
  
.head-review{
    margin: 1.75rem auto;
    width: 150px;
    height: 150px;
}
.head-review img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}
  
.body-review{
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name-review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
    margin-bottom: .25rem;
}
.place-review{
    color: red;
    font-style: italic;
}
.rating{
    color: rgb(253, 180, 42);
    margin: 1rem 0;
}
.desc-review{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
}

  
#press {
    background-color: black;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    padding: 20px 20px 50px;
}

.section11-container{
    padding: 40px;
    height: 90vh;
    width: 100%;
    text-align: center;
    background-color: #11131b;
}


.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
#footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

  
  